<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vivre關於我們</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <!--banner-->
      <section>
        <div class="container">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/about-banner.png">
            <img src="../assets/images/about-banner-sm.png" alt="about-banner" class="w-100 mb-lg-10 mb-5">
          </picture>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="link-nentral-400" href="https://liu61024.github.io/week6/">首頁</a></li>
              <li class="breadcrumb-item text-accent-200 active" aria-current="page">關於我們</li>
            </ol>
          </nav>
          <h5 class="fs-lg-1 fw-bolder text-nentral-500">關於我們</h5>
        </div>
      </section>
      <!--關於我們-->
      <section>
        <div class="container py-8 py-lg-10">
          <div class="row row-cols-lg-2 row-cols-1 gy-5  d-flex flex-wrap ">
            <div class="col order-1">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/about-1.png">
                <img src="../assets/images/about-1-sm.png" alt="about-1" class="w-100">
              </picture>
            </div>
            <div class="col px-lg-7 order-2">
              <div class="mb-6">
                <h2 class="fs-lg-4 mb-2 fw-bold text-nentral-600">Vivre</h2>
                <p class="fw-semibold text-nentral-400">vivre 這個品牌名稱源自法語,意為"生活"、"活著"。它象徵著我們對於高品質生活的熱愛與追求。vivre 旨在成為一個分享美好生活體驗、發掘生活質感的平台。</p>
              </div>
              <div>
                <h6 class=" mb-2 fw-bold text-nentral-600">我們的品牌價值</h6>
                <ul class="fw-semibold text-nentral-400">
                  <li>熱愛生活,好奇心永存</li>
                  <li>品味獨具,講究生活質感</li>
                  <li>分享真實生活,啟發生活靈感</li>
                  <li>推廣慢生活哲學,注重內在修為</li>
                </ul>
              </div>
            </div>
            <div class="col px-lg-7 mb-6 order-4  order-lg-3">
              <h2 class="fs-lg-4 fw-bolder text-nentral-600 mb-3 mb-lg-6">風格特色</h2>
              <p class="fw-semibold text-nentral-400  mb-6">vivre 所展現的風格特色,可以用知性、親和、用心、優雅與獨特這些詞語來概括。我們講求內容的原創性與探索精神,不跟風追隨潮流話題,而是真誠分享獨特的生活視角與體驗。無論是旅行、美食、居家、時尚等生活領域,我們都希望能夠呈現出與眾不同、縝密入微、內外兼具的見解,給讀者帶來嶄新的感受和啟迪。</p>
              <p class="fw-semibold text-nentral-400">無論您是對美食、旅行、居家生活還是時尚風尚有獨到的見解和體會,只要切合vivre的價值理念與風格調性,我們都熱烈歡迎您加入這個平台,與我們一起分享和交流生活的點點滴滴。</p>           
            </div>
            <div class="col order-3 order-lg-4">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/about-2.png">
                <img src="../assets/images/about-2-sm.png" alt="about-2" class="w-100">
              </picture>
            </div>
          </div>
        </div>
      </section>
      <!--大事記-->
      <section class="bg-primary-200">
        <div class="container py-8 py-lg-10">
          <div class="row">
            <div class="col-lg-4 col-12 mb-5">
              <h4 class="fs-lg-2 text-center text-lg-start fw-bolder text-nentral-500">大事記</h4>
            </div>
            <ol class="col-lg-8 col-12">
              <li class="row mb-10">
                <div class="col-lg-2 col-12">
                  <p class="fs-lg-4 bg-primary-400 fw-bold text-nentral-100 d-inline-block p-2 mb-5 me-9">2020</p>
                </div>
                <div class="col-lg-10 col-12">
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400" >
                      <p class="fs-lg-4">5</p>
                      <span>月</span>
                    </div>
                    <p class="border-start ps-3 fw-semibold">創辦人茱麗葉、亞歷山大和幾個好友在巴黎開設 vivre 生活部落格,紀錄分享他們對美好生活的想法和體驗。</p>
                  </div>
                  <div class="d-flex">
                    <div class="d-flex me-3 fw-bold text-nentral-400">
                      <h6 class="fs-lg-4">10</h6>
                      <span class="fs-6">月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">部落格內容和讀者人數逐漸累積,決定成立 vivre 品牌,開發更多元豐富的內容。</p>
                  </div>
                </div>
              </li>
              <li class="row mb-10">
                <div class="col-lg-2 col-12">
                  <p class="fs-lg-4 bg-primary-400 fw-bold text-nentral-100 d-inline-block p-2 mb-5 me-9">2021</p>
                </div>
                <div class="col-lg-10 col-12">
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4 ">3</p>
                      <span>月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">vivre網站正式上線,除了原創文字內容,還加上了視訊、音訊等多媒體形式。</p>
                  </div>
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4">7</p>
                      <span class="fs-6">月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">與法國本土品牌合作,推出 vivre 首個自有產品線,包括家飾、餐飲用品等生活品味商品。</p>
                  </div>
                  <div class="d-flex">
                    <div class="d-flex me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4">12</p>
                      <span class="fs-6">月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">總瀏覽人次突破 100 萬大關,獲得實體出版社青睞,出版 vivre 生活風格書籍。</p>
                  </div>
                </div>
              </li>
              <li class="row mb-10">
                <div class="col-lg-2 col-12">
                  <p class="fs-lg-4 bg-primary-400 fw-bold text-nentral-100 d-inline-block p-2 mb-5 me-9">2022</p>
                </div>
                <div class="col-lg-10 col-12">
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4 ">3</p>
                      <span>月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">推出 vivre 生活風格線上課程,聘請各領域專家開設有深度的付費課程。</p>
                  </div>
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4">8</p>
                      <span class="fs-6">月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">vivre 舉辦首屆 vivre 生活節,線上線下同步展開,現場湧入大批品牌粉絲朋友。</p>
                  </div>
                  <div class="d-flex">
                    <div class="d-flex me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4">10</p>
                      <span class="fs-6">月</span>
                    </div>
                    <p class="fw-normal border-start ps-3 fw-semibold">vivre 完成  A 輪融資,獲得知名風投資金青睞。</p>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="col-lg-2 col-12">
                  <p class="fs-lg-4 bg-primary-400 fw-bold text-nentral-100 d-inline-block p-2 mb-5 me-9">2023</p>
                </div>
                <div class="col-lg-10 col-12">
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4 ">1</p>
                      <span>月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">vivre 宣布品牌願景"探索更美好的生活",並推出全新視覺形象。</p>
                  </div>
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4">5</p>
                      <span class="fs-6">月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">正式推出付費訂閱會員服務,提供高階獨家內容和會員優惠。</p>
                  </div>
                  <div class="d-flex mb-5">
                    <div class="d-flex pe-3 me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4">9</p>
                      <span class="fs-6">月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">首次評選年度" vivre 生活風格大獎",表彰在各領域具有開創性的人物及品牌。</p>
                  </div>
                  <div class="d-flex">
                    <div class="d-flex me-3 fw-bold text-nentral-400">
                      <p class="fs-lg-4">11</p>
                      <span class="fs-6">月</span>
                    </div>
                    <p class=" border-start ps-3 fw-semibold">首次登場的" vivre 生活節沙龍"在全球主要城市同步舉行,線上線下吸引百萬人觀看。。</p>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </section>
      <!--品牌願景-->
      <section>
        <div class="container py-8 py-lg-10">
          <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="col-lg-8 col-12">
              <div class="px-lg-8">
                <h4 class="fs-lg-2 text-center mb-lg-6 mb-5 fw-bolder text-nentral-500">品牌願景</h4>
                <p class="mb-lg-6 mb-5 fw-semibold text-nentral-400">我們的目標不僅是為讀者提供高水準的內容，更希望能真正啟發和影響讀者的生活方式與價值觀,引領走向更有意義、品質與質感的生活體驗。我們相信,生活的意義不僅僅在於外在物質條件的滿足,更多的是一種心靈層面的追求,一種對美好事物的不懈向往。因此,vivre 的定位是成為啟迪現代人內在生活的引路人,給予靈感啟迪,引領讀者去體驗生活的真諦。</p>
                <p class="fw-semibold text-nentral-400">我們衷心期盼，vivre 能為現代人的生活帶來無限靈感啟發,讓每個人的生活之路不僅優雅、從容,更有內在的意義與價值,豐富而燦爛。讓我們共同努力,將生活過得更有滋有味!期待您一同加入 vivre，攜手同行這段美妙的人生旅程。</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
